.section-hero-shop {
    background-image: url('../../images/bg-hero-shop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(74deg, rgba(0, 0, 0, 0.50) 16.1%, rgba(0, 0, 0, 0.26) 55.54%, rgba(0, 0, 0, 0.50) 91.61%);
    }

    &__inner {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 196px;
        padding-bottom: 196px;

        @include media-breakpoint-down(lg) {
            padding-top: 130px;
            padding-bottom: 130px;
            flex-wrap: wrap;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .breadcrumb {
            color: var(--color5, #FFF);
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            gap: 12px;

            a {
                color: var(--color5, #FFF);
            }

            span {
                color: #D02028;
            }
        }
    }

    h1 {
        margin: 0;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }

    }
}