@keyframes s3 {
    to {
        transform: rotate(1turn)
    }
}

.poison-shop {
    padding-top: 116px;
    padding-bottom: 116px;

    .row {
        --bs-gutter-x: 32px;
    }

    &__result {
        position: relative;

        .spinner-3 {
            width: 50px;
            height: 50px;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
            visibility: hidden;
            opacity: 0;

            &:before {
                content: '';
                width: 50px;
                padding: 8px;
                position: absolute;
                aspect-ratio: 1;
                border-radius: 50%;
                background: #D02028;
                --_m:
                    conic-gradient(#0000 10%, #000),
                    linear-gradient(#000 0 0) content-box;
                -webkit-mask: var(--_m);
                mask: var(--_m);
                -webkit-mask-composite: source-out;
                mask-composite: subtract;
                animation: s3 1s infinite linear;
            }

        }

        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #FFF, $alpha: 0.7);
            position: absolute;
            z-index: 2;
            visibility: hidden;
            opacity: 0;
        }

        &.loading {

            &::before,
            .spinner-3 {
                visibility: visible;
                opacity: 1;
            }
        }

        &__wrap {
            row-gap: 32px;
        }

        &__item {
            position: relative;
            padding-top: 14px;
            padding-bottom: 20px;

            @include media-breakpoint-down(md) {
                transform: translate3d(0, 0, 0) !important;
                opacity: 1 !important;
            }

            &::before {
                content: '';
                top: 0;
                left: 50%;
                position: absolute;
                background: transparent;
                z-index: 1;
                transform: translateX(-50%);
                border: 1px solid var(--color2, #D02028);
                height: 100%;
                width: calc(100% - 50px);
            }

            &-inner {
                border: 1px solid var(--color2, #D02028);
                background: var(--color4, #090C0F);
                padding: 39px 40px 24px;
                height: 100%;
                position: relative;
                z-index: 2;

                @media (max-width: 1440px) {
                    padding: 39px 30px 24px;
                }

                @include media-breakpoint-down(lg) {
                    padding: 39px 40px 24px;
                }
            }


            &-img {
                display: block;
                height: 190px;
                width: 190px;
                border-radius: 190px;
                overflow: hidden;
                margin: 0 auto;

                @media (max-width: 1440px) {
                    height: 160px;
                    width: 160px;
                }

                @include media-breakpoint-down(lg) {
                    height: 190px;
                    width: 190px;
                }
            }

            &-title {
                a {
                    color: var(--color2, #D02028);
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: uppercase;
                    margin-top: 26px;
                    margin-bottom: 12px;
                    display: block;
                }
            }

            &-price {
                color: var(--color3, #928342);
                text-align: center;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                del {
                    color: var(--color2, #D02028);
                    text-align: center;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    text-decoration-line: strikethrough;
                }
            }
        }

        &__button {
            margin-top: 76px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__loadmore {
            display: inline-block;
        }
    }
}