body {
   overflow-x: hidden;
}

img {
   max-width: 100%;
   height: auto;
}


.line-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.sub-heading {
   color: var(--color2, #D02028);
   text-align: center;
   font-size: 20px;
   font-style: italic;
   font-weight: 400;
   line-height: normal;
}